.container {
	width: 100%;
	max-width: 1200px;
	display: flex;
	flex-wrap: wrap;
}

.quicksand {
	font-family: 'Quicksand', sans-serif;
}

.sacramento {
	font-family: 'Sacramento', sans-serif;
}

.header {
	display: flex;
	flex-wrap: wrap;
}

.header-image {
	float: left;
	width: 50%;
}

.header-text {
	float: right;
	text-align: right;
	margin-bottom: 0;
	padding: 5px;
}

.nav {
	float: right;
}

.nav-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	float: right;
}

li {
	display: inline-block;
}

.bio {
	height: 100%;
	padding: 2em;
	background: #EAECEE;
    margin-top: 10px;
}

.main {
	display: flex;
	flex-wrap: wrap;
	height: 100%;
}

.profile-pic {
	max-width: 300px;
	padding: 40px;
	margin-right: auto;
	margin-left: auto;
}

.project-text {
	text-align: center;
}

.project-img {
	width: 100%;
	height: 100%;
}

.header-logo {
	height: 200px;
	max-width: 200px;
	float: left;
	padding: 10px;
}

.footer-logo {
	height: 100px;
	max-width: 100px;
	margin-left: auto;
	margin-right: auto;
}

.jitb-img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.copy {
	width: 100%;
	text-align: center;
}

.funvector {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}

.jitb-img {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}

.project-info {
	height: 100%;
}

.nav-list {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	padding-top: 2em;
}
