body {
  color: #444;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
}
h3 {
  font-family: 'Great Vibes', cursive;
  font-weight: 400;
}
h1 {
  font-weight: 700;
}
hr {
  color: #444;
  background-color: #444;
  height: 3px;
  margin: 0;
  border: 0;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header hr,
.header h3,
.header h1 {
  padding: 0;
}
