.ad {
	width: 400px;
	max-width: 100%;
	font-family: 'Fira Mono', monospace;
	color: #414141;
	padding: 0;
	border: solid 1px #414141;
}
img {
	max-width: 100%;
}
h1 {
	font-family: 'Grand Hotel', cursive;
	margin: 0;
}
.header-text p {
	font-size: 1em;
	margin: 0;
}
header, footer {
	display: flex;
	flex-wrap: wrap;
	padding: 10px;
}
.logo {
	background-image: url("../images/logo.png");
	width: 20%;
	padding-top: 20%;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}
.header-text {
	text-align: right;
	width: 80%;
	margin: auto 0 10px auto;
}
.footer-text {
	width: auto;
}
footer h4 {
	margin: 0;
}
footer ul {
	list-style-type: none;
	margin: 0;
	padding: 0.9em 0 0 0;
}
footer li {
	float: left;
	display: block;
	width: 0.8em;
	height: 0.8em;
	padding-right: 0.1em;
}
button {
	width: 180px;
	font-size: 1em;
	margin: auto 0 0 auto;
	letter-spacing: -0.7;
	border-radius: 3%;
	background-color: #357e98;
	border: none;
	-webkit-box-shadow: inset 0 0 30px #275c6f;
    -moz-box-shadow: inset 0 0 30px #275c6f;
    box-shadow: inset 0 0 30px 3px #275c6f;
}
button p {
	margin: 0;
	padding: 0.8em;
	color: #ffffff;
	text-shadow: 1px 1px #275c6f;
	font-family: 'Fira Mono', monospace;
	font-weight: 900;
}